# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.env
.env
/.pnp
.pnp.js

# testing
/coverage
/html-report

# production
/build
/dist

# misc
.DS_Store

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env files
.env
.env.*
**/.env
**/.env.*

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
