/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
  }
  .border-top-transparent {
    border-top-color: transparent;
  }
}

/* Fix for React Error Overlay iframe blocking DevTools inspection */
body > iframe[style*='2147483647'] {
  display: none !important;
}