/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fix for mobile horizontal scrolling */
html, body {
  overflow-x: hidden;
  max-width: 100%;
}

body {
  position: relative;
}

#root {
  overflow-x: hidden;
}

@layer utilities {
  @variants responsive {
    /* Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
    }
  }
  .border-top-transparent {
    border-top-color: transparent;
  }

  .cart-shoe-image {
    max-width: 100%;
  }

  @media (min-width: 640px) {
    .cart-shoe-image {
      max-width: 250px;
    }
  }

  .carousel-bg {
    background-size: 600px auto;
    background-position: center;
    background-repeat: no-repeat;
  }

  @media (min-width: 576px) {
    .carousel-bg {
      background-size: 800px auto;
    }
  }

  @media (min-width: 992px) {
    .carousel-bg {
      background-size: 1000px auto;
    }
  }

  @media (min-width: 1200px) {
    .carousel-bg {
      background-size: 1200px auto;
    }
  }
}